<form [formGroup]="lessonForm" (ngSubmit)="onClickSubmit()">
  <div class="container">

    <div class="row mt-2">
      <label class="col-md-1" for="title" [class]="lessonForm.get('title')?.invalid ? 'text-danger' : ''">Title</label>
      <input id="title" type="text" class="form-control col-md-11" formControlName="title">
    </div>

    <div class="row mt-2">
      <label class="col-md-1" for="description" [class]="lessonForm.get('description')?.invalid ? 'text-danger' : ''">Description</label>
      <textarea id="description" class="form-control col-md-11" rows="4" formControlName="description"></textarea>
    </div>

    <div class="row mt-2">
      <label class="col-md-1" for="category" [class]="lessonForm.get('category')?.invalid ? 'text-danger' : ''">Category</label>
      <input id="category" type="text" class="form-control col-md-3" formControlName="category">

      <label class="col-md-1" for="level" [class]="lessonForm.get('level')?.invalid ? 'text-danger' : ''">Level</label>
      <input id="level" type="number" class="form-control col-md-3" min="1" max="10" formControlName="level">

      <label class="col-md-1" for="prerequisites" [class]="lessonForm.get('prerequisite')?.invalid ? 'text-danger' : ''">Prerequisite</label>
      <input id="prerequisites" type="text" class="form-control col-md-3" formControlName="prerequisite">
    </div>

    <div class="row mt-2">
      <label class="col-md-1" for="tags" [class]="lessonForm.get('tags')?.invalid ? 'text-danger' : ''">Tags</label>
      <input id="tags" type="text" class="form-control col-md-11" placeholder="Enter tags" formControlName="tags">
    </div>

    <div class="row mt-1">
      <label class="col-md-1" for="license" [class]="lessonForm.get('copyright')?.invalid ? 'text-danger' : ''">License</label>
      <input id="license" type="text" class="form-control col-md-11" formControlName="copyright">
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary" [disabled]="!lessonForm.valid">Submit</button>
        <button class="btn btn-primary" routerLink="/lesson/1234">Lesson 1234</button>
        <span *ngIf="lessonForm.invalid" class="col-md-8 text-danger">
          Please fill out all required fields.
        </span>
      </div>
    </div>
  </div>
</form>
